<h1>施設</h1>
<div class="row">
  <div class="col-md-5">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>施設名</th>
          <td><%= @spot.name %></td>
        </tr>
        <tr>
          <th>コメント</th>
          <td><%= @spot.content %></td>
        </tr>
        <tr>
          <th>県</th>
          <td><%= @spot.address %></td>
        </tr>
        <tr>
          <th>天気</th>
          <td><%= @spot.weather_i18n %></td>
        </tr>
      </tbody>
    </table>
    <div id="favorite__spot-<%= @spot.id %>">
      <%= render "public/favorites/favorite_button", spot: @spot %>
    </div>
  </div>
  <div class="col-md-7">
    <div id="map" data-spot=<%= @spot.id %>></div>
  </div>
</div>

<%= link_to "トップページ", root_path, class: "btn btn-primary", data: { turbolinks: false } %>

<% if current_user == @spot.user %>
  <%= link_to "変更", edit_spot_path(@spot), class: "btn btn-warning", data: { turbolinks: false } %>
<% end %>

<%= javascript_pack_tag 'map_show', 'data-turbolinks-track': 'reload' %>