<table class="table table-bordered">
  <thead>
    <tr>
      <th>id</th>
      <th>施設名</th>
      <th>住所</th>
      <th>天気</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% spots.each do |spot| %>
      <tr>
        <td><%= spot.id %></td>
        <td><%= spot.name %></td>
        <td><%= spot.address %></td>
        <td><%= spot.weather_i18n %></td>
        <td><%= link_to "削除", admin_spot_path(spot), method: :delete, data: { confirm: "reary?" }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>