<h4>ユーザーの名前:<%= user.name %></h4>



<%= link_to "投稿一覧", user_path(user), class: "btn btn-primary btn-block mb-2" %>
<%= link_to "フォロー一覧", followings_user_path(user), class: "btn btn-primary btn-block mb-2" %>
<%= link_to "フォロワー一覧", followers_user_path(user), class: "btn btn-primary btn-block mb-2" %>
<%= link_to "お気に入りスポット", favorites_user_path(user), class: "btn btn-primary btn-block mb-2" %>



<div class="my-4">
  <% if current_user == user %>
    <%= link_to "edit", edit_user_path, class: "btn btn-warning btn-block" %>
  <% elsif current_user %>
    <div id="follow__user-<%= user.id %>" class="mt-5">
      <%= render 'public/relationships/follow_button', user: user %>
    </div>
  <% end %>
</div>