<!DOCTYPE html>
<html>
  <head>
    <title>Asocubasyokennsaku</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/efd41ab119.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <%= render 'layouts/nav' %>
      <%= yield(:bg_area) %>
    </header>
    <main class="container">
      <%= render "layouts/flash_messages" %>
      <%= yield %>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/jquery-jpostal-ja@2.14.45/jquery.jpostal.min.js"></script>
  </body>
</html>
